
.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

h1 {
    font-size: clamp(70px, 10vw, 100px); 
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.258);
}

p {
  margin: 0;
}

header { 
  padding: 50px;
}

div {
  margin-bottom: 15px;
  
}


li {
  color: wheat;
  
}

footer {
  background-color: rgba(255, 255, 255, 0.357);
}

img {
  filter: brightness(0.9);
  transition: 
    transform 0.4s ease-in-out, 
    filter 0.4s ease-in-out;
  margin-bottom: 30px;
}

img:hover {
  filter: brightness(1.0);
  transform: scale(1.2);
  transition: 
    transform 0.4s ease-in-out, 
    filter 0.4s ease-in-out;
}

button {
  background-color: rgb(154, 92, 16);
  color: white;
  border-radius: 30PX;
  border-color: white;
  margin: 15px;
}